.sell-junk-registration-form-wrapper {
	margin: 0 auto;
    width: 500px;
    padding: 40px 80px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid var(--light-grey1);
    box-shadow: 0 0 10px var(--silver);
    background: var(--grey7);
}

.sell-junk-registration-form-wrapper h1 {
    text-align: center;
}

.sell-junk-registration-form-wrapper form {
    margin-top: 20px;
    width: 100%;
}

.sell-junk-registration-form-wrapper form .form-label-input-container > div:not(:first-child) {
	margin-top: 20px;
}

.sell-junk-registration-form-wrapper form .form-label-input-container label {
	width: 150px;
}

.sell-junk-registration-form-wrapper form .form-label-input-container input:not(.radio-btn),
.sell-junk-registration-form-wrapper form .form-label-input-container select,
.sell-junk-registration-form-wrapper form .form-label-input-container textarea {
	width: 250px;
}

.sell-junk-registration-form-wrapper form .form-label-input-container label + input:not(#MobileNo),
.sell-junk-registration-form-wrapper form .form-label-input-container select,
.sell-junk-registration-form-wrapper form .form-label-input-container label + textarea,
.sell-junk-registration-form-wrapper form .form-label-input-container .radio-btn + .radio-btn,
.sell-junk-registration-form-wrapper form .form-label-input-container .mobile-number label + span {
	margin-left: 20px;
}

.sell-junk-registration-form-wrapper form .form-label-input-container .mobile-number span {
	border-radius: 3px;
    border: 1px solid var(--light-grey);
    height: 42px; 
    background: var(--bp-blue-light);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 40px;
}

.sell-junk-registration-form-wrapper form .form-label-input-container .mobile-number input {
	width: 222.97px;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sell-junk-registration-form-wrapper form .form-label-input-container > div.confirm-password + p {
	margin: 5px 68px 0 170px;
	word-break: break-all;
}

.sell-junk-registration-form-wrapper form .form-label-input-container > h3 {
	color: var(--dark-grey2);
	font-size: 20px;
	margin-top: 20px;
}

.sell-junk-registration-form-wrapper form .form-label-input-container > h3.address + div {
	margin-top: 0;
}  

.sell-junk-registration-form-wrapper form .sell-junk-registration-form-action-wrapper {
	margin-top: 25px;
    width: 100%;
    margin-bottom: 20px;
}

.sell-junk-registration-form-wrapper form .sell-junk-registration-form-action-wrapper .submit-btn + .submit-btn {
	margin-left: 10px;
}

.sell-junk-registration-form-wrapper form a {
	color: var(--bp-blue);
}

.sell-junk-registration-form-wrapper form a:hover {
	color: var(--bp-blue-hover);
	text-decoration: underline;
}